@import 'libs/mixins';
@import 'libs/vars';
@import url('fontawesome-all.min.css');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

// Base
@import 'base/typography';

// Layout
@import 'layout/wrapper';
@import 'layout/header';
@import 'layout/navbar';
@import 'layout/main';




/* General section */

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    @include background();
    height: 100%;
    margin: 0;
}

a {
    &:hover {
        @include ease-out();
    }
}

section {
    @include border();
    padding: 2rem;
    background: lighten($primary-color, 6);

    & p {
        margin: 0;
    }
}


/* Navigation section */

#nav {
    @include border();
    background: lighten($primary-color, 12);
}

#nav ul {
    list-style: none;
}

#nav ul li {
    @include border();
    background: lighten($primary-color, 18);

    &:hover{
        @include ease-out();
        background: lighten($primary-color, 24);
    }
}




/* About section */

.solid-divider {
    background: lighten($primary-color, 12);
}


/* Project section */

.img {
    @include border();

    & img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
}

.desc {
    & .tag {
        @include border();
        background: lighten($primary-color, 14);
    }
}


#contact {
    & a {
        @include border();
        background: lighten($primary-color, 18);

        &:hover {
            @include ease-out();
            background: lighten($primary-color, 24);
        }
    }
}