@import url('fontawesome-all.min.css');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');


/* Variables */

$primary-color: rgba(26, 26, 26, 1.0);
$secondary-color: #eece1a;
$text-color: rgb(233, 233, 233);
$background-img: url(../images/abstract.jpg);
$background-opacity: 0.9;

/* Mixes */

@mixin ease-out {
    transition: all .2s ease-in;
}

@mixin gradient-text {
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: .6rem;
}

@mixin border {
    border-radius: .3rem;
    border-style: solid;
    border-color: lighten($primary-color, 12);
    border-width: thin;
}

@mixin background {
    background: $background-img;
    background-attachment: fixed;
    background-size: cover;

    &:after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
    }
}


/* General section */

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    @include background();
    color: $text-color;
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
    letter-spacing: .1rem;
    line-height: 1.5;
    height: 100%;
    margin: 0;
}

#wrapper{
    margin: 0rem 3rem 3rem 3rem;
}

a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        @include ease-out();
    }
}

section {
    @include border();
    padding: 2rem;
    background: lighten($primary-color, 6);

    & p {
        margin: 0;;
    }
}

/* Header section */

header {
    padding: 7rem 0rem;
    height: 90vh;
    @include gradient-text();

    display: flex;
    align-items: center;

    & h1, p {
        margin: 0;
        padding: 0;
    }

    & p {
        font-size: 1.4rem;  
        text-indent: 0.7rem;    
    }

    & h1 {
        font-size: 5rem;
        padding: 2rem 0rem;
        line-height: 1.4;
     
    }
}


#jobtype {
    font-size: 2rem;  
}


/* Navigation section */

#nav {
    @include border();
    background: lighten($primary-color, 12);
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: .5rem 1rem;
    list-style: none;
    text-align: center;
}

#nav ul li {
    @include border();
    margin: 0rem .5rem;
    padding: .9rem 0rem;
    background: lighten($primary-color, 18);

    & a {
        text-transform: uppercase;
    }

    &:hover{
        @include ease-out();
        background: lighten($primary-color, 24);
    }
}


/* About section */

#about {
    text-align: center;
    padding: 12%;
    min-height: 100vh;

        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        letter-spacing: .6rem;

         & p {  
            letter-spacing: .4rem;
            line-height: 1.8em;
            background: $text-color;
            -webkit-background-clip: text;

            & b {
                font-weight: bold;
                font-size: 140%;
            }
         }
}

.solid-divider {
    margin: 3rem 20%;    
    height: 3px;
    background: lighten($primary-color, 12);
}


/* Project section */

#projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 4rem;


}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.img {
    @include border();
    // vertical-align: middle;
    // display: table-cell;

    & img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
}

.heading {
    margin: 0;
    @include gradient-text();
    font-size: 2rem;
    padding-bottom: 1rem;
}

.desc {
    min-width: 50%;
    display: block;

    font-weight: 300;


    padding: 1rem 1.6rem;

    & .p-wrapper {
        padding-bottom: .8rem;

        & h3 {
            display: block;
            max-width: 100%;
            padding-bottom: .8rem;
            word-wrap: break-word;
        }

        & p {
            margin: 0;
            padding-bottom: 1rem;

            background: $text-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 1.6rem;
        }
    }

    & .tags {
        position: relative;
        bottom: 0;
    }

    & .tag {
        @include border();
        background: lighten($primary-color, 14);
        padding: .3rem .9rem;
        margin-right: .4rem;
        margin-bottom: .9rem;
        display:inline-block;
    }
}

/* Contact section */

#contact {
    text-align: center;
    padding: 5%;

    & a {
        @include border();
        display: inline-block;
        margin: 0rem 1rem;
        padding: .9rem;
        background: lighten($primary-color, 18);

        &:hover {
            @include ease-out();
            background: lighten($primary-color, 24);
        }
    }

    & .contact-wrapper {
        padding-top: 2rem;
    }

    & p {  
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        letter-spacing: .4rem;
        line-height: 1.8em;
        background: $text-color;
        -webkit-background-clip: text;

        margin: .5rem 0rem;

        & b {
            font-weight: bold;
            font-size: 140%;
        }
    }
}

.empty {
    height: 33vh;
}