* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @include background();
  margin: 0;
  padding: 0;

  transition: background .25s ease-in;
}

// Ensures page width is always >=320px.
@media (max-width: _media(small)) {
  min-width: 320px;
}

ul {
  list-style: none;
}
