* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @include background();
  margin: 0;
  padding: 0;
}

// Ensures page width is always >=320px.
@media (max-width: _media(small)) {
  html {
    min-width: 320px;
  }
}

ul {
  list-style: none;
}
