* {
  box-sizing: border-box;
  scroll-behavior: smooth;


}

body {
  @include background();
  margin: 0;
}

// Ensures page width is always >=320px.
@media (max-width: _media(small)) {
  min-width: 320px;
}

ul {
  list-style: none;
}
