
body {
    color: _palette(text);
    font-family: _font(family);
    font-weight: _font(weight);
    letter-spacing: _font(letter-spacing);
    line-height: 1.5;
}

a {
    color: _palette(text);
    text-transform: uppercase;
    text-decoration: none;
}

header {
    @include gradient-text();
    
    p {
        font-size: 1.4rem;  
        text-indent: 0.7rem;    
    }

    h1 {
        font-size: 5rem;
        line-height: 1.4;
    }

    #jobtype {
        font-size: 2rem;
    }

    @media(max-width: _media(small)) {

        p {
            font-size: 1.0rem;  
            text-indent: 0.3rem;    
        }
    
        h1 {
            font-size: 2.2rem;
            line-height: 1.4;
        }
    
        #jobtype {
            font-size: 1.2rem;
        }
    }
}


#nav ul {
    text-align: center;
}

#about {
    text-align: center;
    text-transform: uppercase;

    p {
        letter-spacing: .4rem;
        line-height: 1.8em;
        background: _palette(text);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

        b {
            font-weight: bold;
            font-size: 140%;
        }

        @media(max-width: _media(xsmall)) {
            font-size: .7rem;
            word-wrap: break-word;
        }

  
    }
}

.heading {
    @include gradient-text();
    font-size: 2rem; 
}

.desc {
    font-weight: 300;

    & .p-wrapper {
        & p {
            background: _palette(text);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 1.6rem;
        }
    }
}

#contact {
    text-align: center;

    & p { 
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        letter-spacing: .4rem;
        line-height: 1.8em;
        background: _palette(text);
        -webkit-background-clip: text;

        & b {
            font-weight: bold;
            font-size: 140%;
        }
    }
}

#footer {
    text-align: center;
    color: _palette(hover);
}