
body {
    color: $text-color;
    font-family: $font-family;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    line-height: 1.5;
}

a {
    color: $text-color;
    text-decoration: none;
}

header {
    @include gradient-text();
    
    p {
        font-size: 1.4rem;  
        text-indent: 0.7rem;    
    }

    h1 {
        font-size: 5rem;
        line-height: 1.4;
    }

    #jobtype {
        font-size: 2rem;
    }

    @media(max-width: $small-devices) {

        & p {
            font-size: 1.0rem;  
            text-indent: 0.7rem;    
        }
    
        h1 {
            font-size: 4rem;
            line-height: 1.4;
        }
    
        #jobtype {
            font-size: 1.4rem;
        }
    }
}

#nav ul {
    text-align: center;
}

#nav ul li {

    & a {
        text-transform: uppercase;
    }
}

#about {
    text-align: center;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: .6rem;

    & p {
        letter-spacing: .4rem;
        line-height: 1.8em;
        background: $text-color;
        -webkit-background-clip: text;

        & b {
            font-weight: bold;
            font-size: 140%;
        }
    }
}

.heading {
    @include gradient-text();
    font-size: 2rem; 
}

.desc {
    font-weight: 300;

    & .p-wrapper {
        & p {
            background: $text-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 1.6rem;
        }
    }
}

#contact {
    text-align: center;

    & p { 
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        letter-spacing: .4rem;
        line-height: 1.8em;
        background: $text-color;
        -webkit-background-clip: text;

        & b {
            font-weight: bold;
            font-size: 140%;
        }
    }
}

#footer {
    text-align: center;
    color: $hover-color;
}