body {
    color: _palette(text);
    font-family: _font(family);
    font-weight: _font(weight);
    letter-spacing: _font(letter-spacing);
    line-height: 1.5;
}

a {
    color: _palette(text);
    text-transform: uppercase;
    text-decoration: none;
}

b {
    font-weight: bold;
    font-size: 140%;
}

p {
    text-align: justify;
    font-size: 80%;

    @media only screen and (min-width: _media(xsmall)) {
        font-size: 100%;
        line-height: 1.6rem;
    }

    &.copyright {
        text-align: center;
        color: _palette(hover);
        font-size: .7rem;
    
        @media only screen and (min-width: _media(xsmall)) {
            font-size: 1rem;
        }
    }
}

h1 {
    font-size: 10.5vw;
    line-height: 1.4;

    @media only screen and (min-width: _media(xsmall)) {
        font-size: 3.5rem;
    }

    @media only screen and (min-width: _media(small)) {
        font-size: 5rem;
    }
}

h3 {
    font-size: 1.0rem;

    @media only screen and (min-width: _media(xsmall)) {
        font-size: 1.4rem;
    }

    @media only screen and (min-width: _media(small)) {
        font-size: 2rem;
    }
}

h4 {
    font-size: 1.0rem;  

    @media only screen and (min-width: _media(xsmall)) {
        font-size: 1.2rem;  
    }

    @media only screen and (min-width: _media(small)) {
        font-size: 1.4rem;
    }
}

.cinematic {
    letter-spacing: .4rem;
    line-height: 1.8em;
    text-transform: uppercase;
    text-align: center;
    background: _palette(text);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;


    font-size: .7rem;

    @media only screen and (min-width: _media(xsmall)) {
        font-size: .8rem;
    }

    @media only screen and (min-width: _media(small)) {
        font-size: 1rem;
    }
}

.heading {
    padding-top: 2rem;
    font-size: 1.24rem;
    word-wrap: break-word;

    @media only screen and (min-width: _media(xsmall)) {
        font-size: 2rem; 
        text-align: left;
    }
}

header, .heading {
    @include gradient-text();
}


#nav ul, #about, #contact {
    text-align: center;
}

.stats {
    text-transform: uppercase;
}

.tools-container {
    
    text-align: left;
}

.tag {
    font-size: .7rem;

    text-transform: uppercase;

    @media only screen and (min-width: _media(xsmall)) {
        font-size: .8rem;
    }
}