/* Mixes */
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
* {
  scroll-behavior: smooth;
  box-sizing: border-box; }

body {
  background: url(../images/abstract.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  margin: 0; }
  body:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(26, 26, 26, 0.9); }

@media (max-width: 768px) {
  min-width: 320px; }

body {
  color: #e9e9e9;
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1.5; }

a {
  color: #e9e9e9;
  text-decoration: none; }

header {
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: .6rem; }
  header p {
    font-size: 1.4rem;
    text-indent: 0.7rem; }
  header h1 {
    font-size: 5rem;
    line-height: 1.4; }
  header #jobtype {
    font-size: 2rem; }
  @media (max-width: 768px) {
    header p {
      font-size: 1.0rem;
      text-indent: 0.7rem; }
    header h1 {
      font-size: 4rem;
      line-height: 1.4; }
    header #jobtype {
      font-size: 1.4rem; } }

#nav ul {
  text-align: center; }

#nav ul li a {
  text-transform: uppercase; }

#about {
  text-align: center;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: .6rem; }
  #about p {
    letter-spacing: .4rem;
    line-height: 1.8em;
    background: #e9e9e9;
    -webkit-background-clip: text; }
    #about p b {
      font-weight: bold;
      font-size: 140%; }

.heading {
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: .6rem;
  font-size: 2rem; }

.desc {
  font-weight: 300; }
  .desc .p-wrapper p {
    background: #e9e9e9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.6rem; }

#contact {
  text-align: center; }
  #contact p {
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: .4rem;
    line-height: 1.8em;
    background: #e9e9e9;
    -webkit-background-clip: text; }
    #contact p b {
      font-weight: bold;
      font-size: 140%; }

#footer {
  text-align: center;
  color: #575757; }

.img {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin; }
  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

#wrapper {
  margin: 0rem 3rem 3rem 3rem; }

header {
  padding: 7rem 0rem;
  height: 90vh;
  display: flex;
  align-items: center; }
  header h1, header p {
    margin: 0;
    padding: 0; }
  header h1 {
    padding: 2rem 0rem; }

#nav {
  position: sticky;
  top: 0;
  z-index: 1; }

#nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: .5rem 1rem; }

#nav ul li {
  margin: 0rem .5rem;
  padding: .9rem 0rem; }
  #nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%; }

/* Scroll points */
#about-point {
  position: relative;
  top: -4.5rem; }

#project-point {
  position: relative;
  top: -4.5rem; }

#contact-point {
  position: relative;
  top: -4.5rem; }

/* About section */
#about {
  padding: 12%;
  min-height: 100vh; }

.solid-divider {
  margin: 3rem 20%;
  height: 3px; }

/* Project section */
#projects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 4rem; }
  @media (max-width: 768px) {
    #projects {
      display: inline-block; } }

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; }
  @media (max-width: 992px) {
    .item {
      display: inline-block;
      padding-bottom: 2rem; } }

.desc {
  min-width: 50%;
  display: block;
  padding: 1rem 1.6rem; }
  .desc .p-wrapper {
    padding-bottom: .8rem; }
    .desc .p-wrapper .heading {
      margin: 0;
      padding-bottom: 1rem; }
    .desc .p-wrapper h3 {
      display: block;
      max-width: 100%;
      padding-bottom: .8rem;
      word-wrap: break-word; }
    .desc .p-wrapper p {
      margin: 0;
      padding-bottom: 1rem; }
  .desc .tags {
    position: relative;
    bottom: 0; }
  .desc .tag {
    padding: .3rem .9rem;
    margin-right: .4rem;
    margin-bottom: .9rem;
    display: inline-block; }

/* Contact section */
#contact {
  padding: 5%; }
  #contact a {
    display: inline-block;
    margin: 0rem 1rem;
    padding: .9rem; }
  #contact .contact-wrapper {
    padding-top: 2rem; }
  #contact p {
    margin: .5rem 0rem; }

footer {
  display: block;
  vertical-align: middle;
  min-height: 33vh;
  padding-top: 1rem; }

/* General section */
a:hover {
  transition: all .2s ease-in; }

section {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  padding: 2rem;
  background: #292929; }
  section p {
    margin: 0; }

/* Navigation section */
#nav {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  background: #393939; }

#nav ul {
  list-style: none; }

#nav ul li {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  background: #484848; }
  #nav ul li:hover {
    transition: all .2s ease-in;
    background: #575757; }

/* About section */
.solid-divider {
  background: #393939; }

/* Project section */
.desc .tag {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  background: #393939; }

#contact a {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  background: #484848; }
  #contact a:hover {
    transition: all .2s ease-in;
    background: #575757; }
