@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
/* Variables */
/* Mixes */
/* General section */
* {
  scroll-behavior: smooth;
  box-sizing: border-box; }

body {
  background: url(../images/abstract.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #e9e9e9;
  font-family: 'Spartan', sans-serif;
  font-weight: 100;
  letter-spacing: .1rem;
  line-height: 1.5;
  height: 100%;
  margin: 0; }
  body:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(26, 26, 26, 0.9); }

#wrapper {
  margin: 0rem 3rem 3rem 3rem; }

a {
  color: #e9e9e9;
  text-decoration: none; }
  a:hover {
    transition: all .2s ease-in; }

section {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  padding: 2rem;
  background: #292929; }
  section p {
    margin: 0; }

/* Header section */
header {
  padding: 7rem 0rem;
  height: 90vh;
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: .6rem;
  display: flex;
  align-items: center; }
  header h1, header p {
    margin: 0;
    padding: 0; }
  header p {
    font-size: 1.4rem;
    text-indent: 0.7rem; }
  header h1 {
    font-size: 5rem;
    padding: 2rem 0rem;
    line-height: 1.4; }

#jobtype {
  font-size: 2rem; }

/* Navigation section */
#nav {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  background: #393939; }

#nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: .5rem 1rem;
  list-style: none;
  text-align: center; }

#nav ul li {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  margin: 0rem .5rem;
  padding: .9rem 0rem;
  background: #484848; }
  #nav ul li a {
    text-transform: uppercase; }
  #nav ul li:hover {
    transition: all .2s ease-in;
    background: #575757; }

/* About section */
#about {
  text-align: center;
  padding: 12%;
  min-height: 100vh;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: .6rem; }
  #about p {
    letter-spacing: .4rem;
    line-height: 1.8em;
    background: #e9e9e9;
    -webkit-background-clip: text; }
    #about p b {
      font-weight: bold;
      font-size: 140%; }

.solid-divider {
  margin: 3rem 20%;
  height: 3px;
  background: #393939; }

/* Project section */
#projects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 4rem; }

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; }

.img {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin; }
  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.heading {
  margin: 0;
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: .6rem;
  font-size: 2rem;
  padding-bottom: 1rem; }

.desc {
  min-width: 50%;
  display: block;
  font-weight: 300;
  padding: 1rem 1.6rem; }
  .desc .p-wrapper {
    padding-bottom: .8rem; }
    .desc .p-wrapper h3 {
      display: block;
      max-width: 100%;
      padding-bottom: .8rem;
      word-wrap: break-word; }
    .desc .p-wrapper p {
      margin: 0;
      padding-bottom: 1rem;
      background: #e9e9e9;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.6rem; }
  .desc .tags {
    position: relative;
    bottom: 0; }
  .desc .tag {
    border-radius: .3rem;
    border-style: solid;
    border-color: #393939;
    border-width: thin;
    background: #3e3e3e;
    padding: .3rem .9rem;
    margin-right: .4rem;
    margin-bottom: .9rem;
    display: inline-block; }

/* Contact section */
#contact {
  text-align: center;
  padding: 5%; }
  #contact a {
    border-radius: .3rem;
    border-style: solid;
    border-color: #393939;
    border-width: thin;
    display: inline-block;
    margin: 0rem 1rem;
    padding: .9rem;
    background: #484848; }
    #contact a:hover {
      transition: all .2s ease-in;
      background: #575757; }
  #contact .contact-wrapper {
    padding-top: 2rem; }
  #contact p {
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: .4rem;
    line-height: 1.8em;
    background: #e9e9e9;
    -webkit-background-clip: text;
    margin: .5rem 0rem; }
    #contact p b {
      font-weight: bold;
      font-size: 140%; }
