@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
/* Variables */
/* Mixes */
/* General section */
* {
  scroll-behavior: smooth;
  box-sizing: border-box; }

body {
  background: url(../images/abstract.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #e9e9e9;
  font-family: 'Spartan', sans-serif;
  font-weight: lighter;
  letter-spacing: .1rem;
  line-height: 1.5;
  height: 100%;
  margin: 0; }
  body:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(26, 26, 26, 0.9); }

#wrapper {
  margin: 0rem 3rem 3rem 3rem; }

/* Header section */
header {
  padding: 7rem 0rem;
  height: 90vh;
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: .6rem;
  display: flex;
  align-items: center; }
  header h1, header p {
    margin: 0;
    padding: 0; }
  header p {
    font-size: 1.4rem;
    text-indent: 0.7rem; }
  header h1 {
    font-size: 5rem;
    padding: 2rem 0rem;
    line-height: 1.4; }

#jobtype {
  font-size: 2rem; }

/* Navigation section */
#nav {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  background: #393939; }

#nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: .5rem 1rem;
  list-style: none;
  text-align: center; }

#nav ul li {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  margin: 0rem .5rem;
  padding: .9rem 0rem;
  background: #484848; }
  #nav ul li a {
    text-transform: uppercase; }

/* About section */
#about {
  text-align: center;
  padding: 14%;
  height: 100vh; }
  #about .wrapper {
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: .6rem; }
    #about .wrapper p {
      letter-spacing: .4rem;
      line-height: 1.8em;
      background: #e9e9e9;
      -webkit-background-clip: text; }
      #about .wrapper p b {
        font-weight: bold;
        font-size: 140%; }

.solid-divider {
  margin: 3rem 20%;
  height: 3px;
  background: #393939; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  vertical-align: middle;
  display: table-cell; }

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; }

section {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  padding: 2rem;
  background: #292929; }
  section p {
    margin: 0; }

#projects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 6rem; }

a {
  color: #e9e9e9;
  text-decoration: none; }
  a:hover {
    transition: all .2s ease-in; }

.heading {
  margin: 0;
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: .6rem;
  font-size: 2rem;
  padding-bottom: 1rem; }

.tags {
  position: absolute;
  bottom: 1rem; }

.tag {
  border-radius: .3rem;
  border-style: solid;
  border-color: #393939;
  border-width: thin;
  background: #3e3e3e;
  padding: .3rem .9rem;
  margin-right: .4rem;
  display: inline-block; }

.desc {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative; }
  .desc p {
    margin: 0;
    padding-bottom: 1rem; }

/* Contact section */
#contact {
  text-align: center;
  padding: 5%; }
  #contact a {
    margin: 0rem 0.5rem; }
  #contact .contact-wrapper {
    padding-top: 2rem; }
  #contact p {
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: .4rem;
    line-height: 1.8em;
    background: #e9e9e9;
    -webkit-background-clip: text;
    font-weight: lighter;
    margin: .5rem 0rem; }
    #contact p b {
      font-weight: bold;
      font-size: 140%; }
