footer {
    display: block;
    vertical-align: middle;
    min-height: 33vh;
    padding-top: 1rem;

    @media(max-width: _media(xsmall)) {
        padding: 10% 20%;

        height: 320px;
    }
}