header {
    padding: 7rem 0rem;
    height: 90vh;

    display: flex;
    align-items: center;

    p {
        margin: 0;
        padding: 0;
    }

    h1 {
        margin: 0;
        padding: 2rem 0rem;
    }

    @media(max-width: _media(small)) {
        display: block;
        height: 77vmax;
        margin-top: 6rem;
    }
}
