header {
    padding: 7rem 0rem;
    height: 90vh;

    display: flex;
    align-items: center;

    & h1, p {
        margin: 0;
        padding: 0;
    }

    & h1 {
        padding: 2rem 0rem;
    }
}
