/* About section */

#about,
#skills {
  // padding: 7%;
  min-height: 90vh;

  // @media (max-width: _media(small)) {
  //   padding: 6% 8%;
  // }
}

.solid-divider {
  margin: 6% 20%;

  @media (max-width: _media(small)) {
    margin: 12% 20%;
  }

  height: 3px;
}

/* Project section */

#projects {
  display: grid;
  grid-gap: 4rem;

  @media (max-width: _media(small)) {
    display: block;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: _media(medium)) {
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 2.6rem;
  }
}

.item-container {
  min-width: 50%;
}

.desc {
  display: flex;
  flex-direction: column;
  padding: 2% 0% 2% 6%;

  @media (max-width: _media(medium)) {
    padding: 0;
  }

  .p-wrapper {
    .heading {
      max-width: 100%;
    }
    p {
      padding-bottom: 1rem;
    }
  }
}

/* Skills section */

.tools-container {
  display: grid;
  grid-gap: 1rem;

  @media only screen and (min-width: _media(medium)) {
    grid-template-columns: 1fr 1fr;
  }
}

.tools {
  padding-top: 4rem;
}

/* Contact section */

#contact {
  .paragraphs {
    padding-bottom: 2rem;
  }

  .icon {
    display: inline-block;
    margin: 0rem 1rem;
    padding: 0.9rem;
  }

  // @media (max-width: _media(xsmall)) {
  //   padding: 12% 12%;
  // }
}
