/* About section */

#about {
  padding: 10% 8% 8% 8%;
  min-height: 90vh;

  @media (max-width: _media(xsmall)) {
    padding: 12% 10%;
  }
}

.solid-divider {
  margin: 6% 20%;
  height: 3px;
}

#tools {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  padding: 5% 8%;
  min-height: 90vh;

  @media (max-width: _media(xsmall)) {
    padding: 12% 10%;
  }
}

/* Project section */

#projects {
  display: grid;
  grid-gap: 4rem;

  @media (max-width: _media(small)) {
    display: block;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @media (max-width: _media(medium)) {
    display: block;
    padding-bottom: 1.6rem;
  }
}

.item-container {
  min-width: 50%;
  display: block;
  margin: 0.8rem 1rem;

  @media (max-width: _media(medium)) {
    height: auto;
    padding: 0;
  }
}

.desc {
  padding: 2% 0% 2% 2%;

  @media (max-width: _media(small)) {
    padding: 2%;
  }

  .p-wrapper {
    .heading {
      max-width: 100%;
    }
    p {
      padding-bottom: 1rem;
    }
  }
}

/* Skills section */

.tools-container {
  padding: 0;
  display: block;

  @media only screen and (min-width: _media(medium)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.tools {
  padding: 0;
  text-align: left;

  @media only screen and (min-width: _media(small)) {
    padding: 0rem 2rem;
  }
}

.container {
  padding: 3% 0;
}

/* Contact section */

#contact {
  padding: 5%;

  & a {
    display: inline-block;
    margin: 0rem 1rem;
    padding: 0.9rem;
  }

  & .contact-wrapper {
    padding-top: 2rem;
  }

  & p {
    margin: 0.5rem 0rem;
  }

  @media (max-width: _media(xsmall)) {
    padding: 5% 12%;
  }
}
