/* About section */

#about {
    padding: 12%;
    min-height: 100vh;

    @media(max-width: _media(xsmall)) {
        padding: 12% 10%
    }
}

.solid-divider {
    margin: 3rem 20%;    
    height: 3px;
}


/* Project section */

#projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 4rem;

    @media(max-width: _media(small)) {
        display: block;
    }
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    @media(max-width: _media(medium)) {
        display: block;
        padding-bottom: 4rem;
    }

    .desc {
        min-width: 50%;
        display: block;
        padding: 1rem 1.6rem;
    
        @media(max-width: _media(medium)) {
            height: auto;
            padding: 0;
        }
    
        & .p-wrapper {
            padding-bottom: .8rem;
    
            .heading {
                display: block;
                max-width: 100%;

                margin: 0;
                padding: 0;
            }

            .stats {
                display: inline-flex;
                flex-wrap: wrap;
                align-items: center;
                padding: .8rem 0rem;
                
                p {
                    margin-top: .4rem;
                    margin-right: .8rem;
                    font-size: .9rem;
                }

                .tag {
                    margin-right: 1rem;
                }
            }
    
            p {
                margin: 0;
                padding-bottom: 1rem;
            }
        }
    
        & .tags {
            position: relative;
            bottom: 0;
        }
    
        & .tag {
            padding: .3rem .9rem;
            margin-right: .8rem;
            margin-bottom: .8rem;
            display: inline-flex;
        }
    }
}


/* Contact section */

#contact {
    padding: 5%;

    & a {
        display: inline-block;
        margin: 0rem 1rem;
        padding: .9rem;
    }

    & .contact-wrapper {
        padding-top: 2rem;
    }

    & p {  
        margin: .5rem 0rem;
    }

    @media(max-width: _media(xsmall)) {
        padding: 5% 12%;
    }
}
