#nav {
    position: sticky;
    top: 0;
    z-index: 1;

    .v1 {
        display: none;
    }


    @media(max-width: _media(xsmall)) {
    
        position: relative;

        .v2 {
            display: none;
        }

        .v1 {
            display: block;
        }

        ul {
            display: block;

            li {
                padding: 0;
            }
        }
    }
}






/* Scroll points */

#about-point {
    position: relative; 
    top: -4.5rem;
}

#project-point {
    position: relative; 
    top: -4.5rem;
}

#contact-point {
    position: relative; 
    top: -4.5rem;
}