#nav {
    position: sticky;
    top: 0;
    z-index: 1;

    .v1 {
        display: none;
    }

    @media(max-width: _media(small)) {
    
        position: relative;

        .v1 {
            display: block;
        }

        .v2 {
            display: none;
        }

        ul {
            display: block;

            li {
                padding: 0;
            }
        }
    }
}

.back-to-top {
    display: block;

    @media only screen and (min-width: _media(xsmall)) {
        display: none;
    }
}

/* Scroll points */

.scroll-point {
    position: relative; 
    top: -4.5rem;
}